.header-table {
  width: 250px;
}

.stats-table {
    width: 800px;
    border: 1px solid;
    border-collapse: collapse
  }

.stats-table-container {
  margin-bottom: 20px;
}

.player-name {
  width: 40%;
  text-align: left;
}

.player-pos {
  width: 60px;
  text-align: left;
}

th, td {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  min-width: 30px;
}